{
  "pid": "bw.application.RetryMechanism.application_1.0",
  "properties": {
    "\/\/RetryMechanism\/\/BW.APPNODE.NAME": {
      "name": "\/\/RetryMechanism\/\/BW.APPNODE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/RetryMechanism\/\/retrtattempts": {
      "name": ".type.\/\/RetryMechanism\/\/retrtattempts",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    "\/\/RetryMechanism\/\/BW.MODULE.VERSION": {
      "name": "\/\/RetryMechanism\/\/BW.MODULE.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/RetryMechanism\/\/jms_queue_name": {
      "name": "\/\/RetryMechanism\/\/jms_queue_name",
      "value": "niranjan",
      "type": "java.lang.String"
    },
    ".type.\/\/RetryMechanism\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": ".type.\/\/RetryMechanism\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/RetryMechanism\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": "\/\/RetryMechanism\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/RetryMechanism\/\/sleep": {
      "name": ".type.\/\/RetryMechanism\/\/sleep",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    "\/\/RetryMechanism\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": "\/\/RetryMechanism\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/RetryMechanism\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": ".type.\/\/RetryMechanism\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/RetryMechanism\/\/BW.APPSPACE.NAME": {
      "name": ".type.\/\/RetryMechanism\/\/BW.APPSPACE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/RetryMechanism\/\/BW.MODULE.NAME": {
      "name": "\/\/RetryMechanism\/\/BW.MODULE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "RetryMechanism.application",
      "type": "java.lang.String"
    },
    ".type.\/\/RetryMechanism\/\/BW.DOMAIN.NAME": {
      "name": ".type.\/\/RetryMechanism\/\/BW.DOMAIN.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/RetryMechanism\/\/jms_queue_name": {
      "name": ".type.\/\/RetryMechanism\/\/jms_queue_name",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    ".type.\/\/RetryMechanism\/\/BW.HOST.NAME": {
      "name": ".type.\/\/RetryMechanism\/\/BW.HOST.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".module.name": {
      "name": ".module.name",
      "value": "RetryMechanism.application",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    "\/\/RetryMechanism\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": "\/\/RetryMechanism\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/RetryMechanism\/\/jms_connection": {
      "name": "\/\/RetryMechanism\/\/jms_connection",
      "value": "retrymechanism.JMSConnectionResource",
      "type": "java.lang.String"
    },
    "\/\/RetryMechanism\/\/BW.DOMAIN.NAME": {
      "name": "\/\/RetryMechanism\/\/BW.DOMAIN.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "bw.application.RetryMechanism.application_1.0",
      "type": "java.lang.String"
    },
    ".type.\/\/RetryMechanism\/\/BW.MODULE.NAME": {
      "name": ".type.\/\/RetryMechanism\/\/BW.MODULE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/RetryMechanism\/\/sleep": {
      "name": "\/\/RetryMechanism\/\/sleep",
      "value": "10",
      "type": "java.lang.String"
    },
    "\/\/RetryMechanism\/\/BW.HOST.NAME": {
      "name": "\/\/RetryMechanism\/\/BW.HOST.NAME",
      "value": "localhost",
      "type": "java.lang.String"
    },
    ".type.\/\/RetryMechanism\/\/BW.APPNODE.NAME": {
      "name": ".type.\/\/RetryMechanism\/\/BW.APPNODE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".module.version": {
      "name": ".module.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    ".type.\/\/RetryMechanism\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": ".type.\/\/RetryMechanism\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/RetryMechanism\/\/jms_connection": {
      "name": ".type.\/\/RetryMechanism\/\/jms_connection",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/jms}JMSConnectionFactory",
      "type": "java.lang.String"
    },
    "\/\/RetryMechanism\/\/retrtattempts": {
      "name": "\/\/RetryMechanism\/\/retrtattempts",
      "value": "3",
      "type": "java.lang.String"
    },
    ".type.\/\/RetryMechanism\/\/BW.MODULE.VERSION": {
      "name": ".type.\/\/RetryMechanism\/\/BW.MODULE.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/RetryMechanism\/\/BW.APPSPACE.NAME": {
      "name": "\/\/RetryMechanism\/\/BW.APPSPACE.NAME",
      "value": "",
      "type": "java.lang.String"
    }
  }
}