{
  "pid": "bw.resource.jdbc.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "bw.resource.jdbc",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "bw.resource.jdbc.941240eb-b401-4365-b08d-21216b6c8e44",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}