{
  "pid": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/jms}JMSConnectionFactory.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/jms}JMSConnectionFactory",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/jms}JMSConnectionFactory.c6f0b64e-7b4a-4e33-81e3-7cc16322dbde",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}