{
  "pid": "bw.application.parsing_csv_with_dotsANDcommas.application_1.0",
  "properties": {
    ".type.\/\/parsing_csv_with_dotsANDcommas\/\/readfile": {
      "name": ".type.\/\/parsing_csv_with_dotsANDcommas\/\/readfile",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/parsing_csv_with_dotsANDcommas\/\/BW.DOMAIN.NAME": {
      "name": ".type.\/\/parsing_csv_with_dotsANDcommas\/\/BW.DOMAIN.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/parsing_csv_with_dotsANDcommas\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": ".type.\/\/parsing_csv_with_dotsANDcommas\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/parsing_csv_with_dotsANDcommas\/\/BW.APPSPACE.NAME": {
      "name": "\/\/parsing_csv_with_dotsANDcommas\/\/BW.APPSPACE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/parsing_csv_with_dotsANDcommas\/\/BW.HOST.NAME": {
      "name": ".type.\/\/parsing_csv_with_dotsANDcommas\/\/BW.HOST.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/parsing_csv_with_dotsANDcommas\/\/BW.MODULE.NAME": {
      "name": ".type.\/\/parsing_csv_with_dotsANDcommas\/\/BW.MODULE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/parsing_csv_with_dotsANDcommas\/\/parse_data": {
      "name": ".type.\/\/parsing_csv_with_dotsANDcommas\/\/parse_data",
      "value": "{http:\/\/ns.tibco.com\/bw\/palette\/dataformat}DataFormat",
      "type": "java.lang.String"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "parsing_csv_with_dotsANDcommas.application",
      "type": "java.lang.String"
    },
    "\/\/parsing_csv_with_dotsANDcommas\/\/BW.MODULE.NAME": {
      "name": "\/\/parsing_csv_with_dotsANDcommas\/\/BW.MODULE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/parsing_csv_with_dotsANDcommas\/\/BW.HOST.NAME": {
      "name": "\/\/parsing_csv_with_dotsANDcommas\/\/BW.HOST.NAME",
      "value": "localhost",
      "type": "java.lang.String"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    "\/\/parsing_csv_with_dotsANDcommas\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": "\/\/parsing_csv_with_dotsANDcommas\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".module.name": {
      "name": ".module.name",
      "value": "parsing_csv_with_dotsANDcommas.application",
      "type": "java.lang.String"
    },
    ".type.\/\/parsing_csv_with_dotsANDcommas\/\/BW.APPSPACE.NAME": {
      "name": ".type.\/\/parsing_csv_with_dotsANDcommas\/\/BW.APPSPACE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    ".type.\/\/parsing_csv_with_dotsANDcommas\/\/BW.MODULE.VERSION": {
      "name": ".type.\/\/parsing_csv_with_dotsANDcommas\/\/BW.MODULE.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/parsing_csv_with_dotsANDcommas\/\/BW.APPNODE.NAME": {
      "name": ".type.\/\/parsing_csv_with_dotsANDcommas\/\/BW.APPNODE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/parsing_csv_with_dotsANDcommas\/\/BW.MODULE.VERSION": {
      "name": "\/\/parsing_csv_with_dotsANDcommas\/\/BW.MODULE.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "bw.application.parsing_csv_with_dotsANDcommas.application_1.0",
      "type": "java.lang.String"
    },
    "\/\/parsing_csv_with_dotsANDcommas\/\/BW.DOMAIN.NAME": {
      "name": "\/\/parsing_csv_with_dotsANDcommas\/\/BW.DOMAIN.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/parsing_csv_with_dotsANDcommas\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": "\/\/parsing_csv_with_dotsANDcommas\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/parsing_csv_with_dotsANDcommas\/\/readfile": {
      "name": "\/\/parsing_csv_with_dotsANDcommas\/\/readfile",
      "value": "D:\\d_backup\\sample-inputs\\parse_with_dot_and_commas.txt",
      "type": "java.lang.String"
    },
    ".type.\/\/parsing_csv_with_dotsANDcommas\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": ".type.\/\/parsing_csv_with_dotsANDcommas\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".module.version": {
      "name": ".module.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    "\/\/parsing_csv_with_dotsANDcommas\/\/parse_data": {
      "name": "\/\/parsing_csv_with_dotsANDcommas\/\/parse_data",
      "value": "parsing_csv_with_dotsandcommas.DataFormatResource",
      "type": "java.lang.String"
    },
    ".type.\/\/parsing_csv_with_dotsANDcommas\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": ".type.\/\/parsing_csv_with_dotsANDcommas\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/parsing_csv_with_dotsANDcommas\/\/BW.APPNODE.NAME": {
      "name": "\/\/parsing_csv_with_dotsANDcommas\/\/BW.APPNODE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/parsing_csv_with_dotsANDcommas\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": "\/\/parsing_csv_with_dotsANDcommas\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "",
      "type": "java.lang.String"
    }
  }
}