{
  "pid": "{http:\/\/ns.tibco.com\/bw\/palette\/dataformat}DataFormat.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "{http:\/\/ns.tibco.com\/bw\/palette\/dataformat}DataFormat",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [
        {
          "value": "{http:\/\/ns.tibco.com\/bw\/palette\/dataformat}DataFormat.8b864b97-660e-40a6-a99f-14a947b2096a",
          "type": "java.lang.String"
        },
        {
          "value": "{http:\/\/ns.tibco.com\/bw\/palette\/dataformat}DataFormat.97205fc5-96ac-4b8b-8481-1bfa725e67ac",
          "type": "java.lang.String"
        },
        {
          "value": "{http:\/\/ns.tibco.com\/bw\/palette\/dataformat}DataFormat.f2a72659-30e1-4109-aa10-174553cea05c",
          "type": "java.lang.String"
        }
      ],
      "type": "[Ljava.lang.String;"
    }
  }
}