{
  "pid": "bw.application.neglect_header_rows.application_1.0",
  "properties": {
    "\/\/neglect_header_rows\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": "\/\/neglect_header_rows\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/neglect_header_rows\/\/BW.APPSPACE.NAME": {
      "name": ".type.\/\/neglect_header_rows\/\/BW.APPSPACE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/neglect_header_rows\/\/BW.APPNODE.NAME": {
      "name": ".type.\/\/neglect_header_rows\/\/BW.APPNODE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/neglect_header_rows\/\/BW.DOMAIN.NAME": {
      "name": ".type.\/\/neglect_header_rows\/\/BW.DOMAIN.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/neglect_header_rows\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": ".type.\/\/neglect_header_rows\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/neglect_header_rows\/\/parsedata": {
      "name": "\/\/neglect_header_rows\/\/parsedata",
      "value": "neglect_header_rows.DataFormatResource",
      "type": "java.lang.String"
    },
    "\/\/neglect_header_rows\/\/BW.DOMAIN.NAME": {
      "name": "\/\/neglect_header_rows\/\/BW.DOMAIN.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/neglect_header_rows\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": ".type.\/\/neglect_header_rows\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/neglect_header_rows\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": ".type.\/\/neglect_header_rows\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/neglect_header_rows\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": "\/\/neglect_header_rows\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "neglect_header_rows.application",
      "type": "java.lang.String"
    },
    "\/\/neglect_header_rows\/\/BW.HOST.NAME": {
      "name": "\/\/neglect_header_rows\/\/BW.HOST.NAME",
      "value": "localhost",
      "type": "java.lang.String"
    },
    ".type.\/\/neglect_header_rows\/\/BW.MODULE.NAME": {
      "name": ".type.\/\/neglect_header_rows\/\/BW.MODULE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/neglect_header_rows\/\/BW.MODULE.VERSION": {
      "name": ".type.\/\/neglect_header_rows\/\/BW.MODULE.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    ".type.\/\/neglect_header_rows\/\/BW.HOST.NAME": {
      "name": ".type.\/\/neglect_header_rows\/\/BW.HOST.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/neglect_header_rows\/\/parsedata": {
      "name": ".type.\/\/neglect_header_rows\/\/parsedata",
      "value": "{http:\/\/ns.tibco.com\/bw\/palette\/dataformat}DataFormat",
      "type": "java.lang.String"
    },
    ".module.name": {
      "name": ".module.name",
      "value": "neglect_header_rows.application",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    "\/\/neglect_header_rows\/\/BW.MODULE.VERSION": {
      "name": "\/\/neglect_header_rows\/\/BW.MODULE.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/neglect_header_rows\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": "\/\/neglect_header_rows\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/neglect_header_rows\/\/Readfile": {
      "name": "\/\/neglect_header_rows\/\/Readfile",
      "value": "C:\\Users\\NiranjanBatana\\Downloads\\output_csv_full.csv",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "bw.application.neglect_header_rows.application_1.0",
      "type": "java.lang.String"
    },
    "\/\/neglect_header_rows\/\/BW.APPSPACE.NAME": {
      "name": "\/\/neglect_header_rows\/\/BW.APPSPACE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/neglect_header_rows\/\/BW.APPNODE.NAME": {
      "name": "\/\/neglect_header_rows\/\/BW.APPNODE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/neglect_header_rows\/\/Readfile": {
      "name": ".type.\/\/neglect_header_rows\/\/Readfile",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/neglect_header_rows\/\/BW.MODULE.NAME": {
      "name": "\/\/neglect_header_rows\/\/BW.MODULE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".module.version": {
      "name": ".module.version",
      "value": "1.0",
      "type": "java.lang.String"
    }
  }
}