{
  "pid": "com.tibco.bw.stat.appnode.aa0f894c-7ad7-4929-a103-802279f17f8c",
  "properties": {
    "name": {
      "name": "name",
      "value": "Main",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "com.tibco.bw.stat.appnode.aa0f894c-7ad7-4929-a103-802279f17f8c",
      "type": "java.lang.String"
    }
  }
}