{
  "pid": "com.tibco.bw.stat.appnode.aeaeceaf-9181-4bac-be05-caa126ce9272",
  "properties": {
    "name": {
      "name": "name",
      "value": "Main",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "com.tibco.bw.stat.appnode.aeaeceaf-9181-4bac-be05-caa126ce9272",
      "type": "java.lang.String"
    }
  }
}