{
  "pid": "com.tibco.bw.stat.appnode.e3df2f3a-9b48-4d04-a7c4-15533bfc1d9b",
  "properties": {
    "name": {
      "name": "name",
      "value": "Main",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "com.tibco.bw.stat.appnode.e3df2f3a-9b48-4d04-a7c4-15533bfc1d9b",
      "type": "java.lang.String"
    }
  }
}