{
  "pid": "com.tibco.bw.stat.appnode.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "com.tibco.bw.stat.appnode.b3841b30-74db-40d3-9a5d-bc0d462a5442",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}